@use "/src/shared/styles/colors";

.footer {
   background-color: colors.$background-primary;
   padding: 47px 0 0;
   margin-top: 40px;
}

.subscribe {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 45px;
}

.subscribe__description {
   .subscribe__title {
      font-size: 3.8rem;
      font-weight: 500;
      margin-bottom: 9px;
      color: colors.$font-secondary;
   }
   .subscribe__sub-title {
      font-size: 1.6rem;
      font-weight: 300;
      color: colors.$font-secondary;
   }
}

.subscribe__input-container {
   display: flex;
   align-items: center;
   .subscribe__input {
      border: 1px solid colors.$border-primary;
      height: 50px;
      width: 390px;
      margin-right: 23px;
      border-radius: 4px;
      font-size: 1.4rem;
      font-weight: 300;
      padding-left: 15px;
   }
   .subscribe__submit-box {
      width: 150px;
   }
}

.submenu-lists {
   display: flex;
   column-gap: 78px;
}

.submenu__title {
   font-size: 1.4rem;
   font-weight: 700;
   color: colors.$font-tertiary;
   margin-bottom: 28px;
}

.submenu-list {
   .submenu__item {
      margin-bottom: 3px;
      font-size: 1.3rem;
      font-weight: 400;
      color: colors.$font-secondary;
   }
   .submenu__link {
      font-size: 1.3rem;
      font-weight: 400;
      color: colors.$font-quinary;
   }
}
.footer-bottom {
   border-top: 1px solid colors.$border-primary;

   padding: 19.5px 0;
   margin-top: 46px;
}
