@use "/src/shared/styles/colors";

.footer {
   background-color: colors.$background-primary;
   padding: 47px 0 0;
   margin-top: 40px;
}

.subscribe {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 45px;
   column-gap: 40px;
   @media (max-width: 768px) {
      justify-content: start;
      flex-wrap: wrap;
      row-gap: 25px;
      width: min-content;
   }
}

.subscribe__description {
   .subscribe__title {
      font-size: 3.8rem;
      font-weight: 500;
      margin-bottom: 9px;
      color: colors.$font-secondary;
      white-space: nowrap;
      @media (min-width: 769px) and (max-width: 1024px) {
         font-size: 3rem;
      }
   }
   .subscribe__sub-title {
      font-size: 1.6rem;
      font-weight: 300;
      color: colors.$font-secondary;
   }
}

.subscribe__input-container {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 540px;
   .subscribe__input {
      border: 1px solid colors.$border-primary;
      height: 50px;
      width: 100%;
      margin-right: 23px;
      border-radius: 4px;
      font-size: 1.5rem;
      font-weight: 300;
      padding-left: 15px;
      color: #ffffff;
   }
   .subscribe__submit-box {
      width: 150px;
   }
}

.submenu-lists {
   display: flex;

   @media (max-width: 1440px) {
      flex-wrap: wrap;
      row-gap: 46px;
   }
   column-gap: 78px;
}

.submenu__title {
   font-size: 1.4rem;
   font-weight: 700;
   color: colors.$font-tertiary;
   margin-bottom: 28px;
}

.submenu-list {
   .submenu__item {
      margin-bottom: 3px;
      font-size: 1.3rem;
      font-weight: 400;
      color: colors.$font-secondary;
   }
   .submenu__link {
      font-size: 1.3rem;
      font-weight: 400;
      color: colors.$font-quinary;
   }
}
.footer-bottom {
   border-top: 1px solid colors.$border-primary;

   padding: 19.5px 0;
   margin-top: 46px;
}
