$background-primary: #020202;
$background-tertiary: #f5f7ff;
$background-quaternary: #0156ff;

$border-primary: #a2a6b0;

$font-primary: #000000;
$font-secondary: #ffffff;
$font-tertiary: #a2a6b0;
$font-Quaternary: #c94d3f;
$font-quinary: #01a4ff;
