@use "/src/shared/styles/colors";

.search-box {
   display: flex;
   align-items: center;
   .search-box__input {
      font-size: 15px;
      width: 300px;
      height: 35px;
      border: 1px solid colors.$border-primary;
      padding-right: 10px;
      border-right: none;
   }
   .search-box__button {
      width: 50px;
      height: 35px;
      border: 2px solid colors.$background-quaternary;

      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.search-box__button-icon {
   width: 15px;
   height: 15px;
}
