@use "/src/shared/styles/fonts";

*,
*::before,
*::after {
   background-color: transparent;
   box-sizing: border-box;
   font-family: fonts.$primary;
   font-size: 10px;
   text-decoration: none;
   border: none;
   margin: 0;
   padding: 0;
}
*:focus {
   outline: none;
}

ol,
ul {
   list-style: none;
}

button {
   cursor: pointer;
}

@media (min-width: 1441px) {
   .container {
      width: 1398px;
      padding: 0 25px;
      margin: 0 auto;
   }
}
